/**CSS Styles for Index html**/
* {
    box-sizing: border-box;
}

body {
    width: 960;
    margin: 0 auto;
    
}

.namebox {
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    border: 10px double black;
    background-color: #80808061;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    float: left;
    color: #972984;  
}

.navmenu ul { 
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.navmenu ul a {
    background-color: #cd49b7;
    color: black;
    text-decoration: underline;
}

.navmenu li {
    display: inline-block;
    padding: 25px 20px;
}

h2 {
    width: 200px;
    background-color:#80808061;
    color: #972984;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    border: 5px double black;
    text-align: center;
    margin: 0 auto;
}

aside { 
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    line-height: 24px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 75px;
}

#me {
    float: left
}

.bio {
    line-height: 24px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 46px 30px;
    border: 15px;  
    color: #747474;
    font-weight: bold;
}

p {
    padding-left: 35%;
    text-align: justify;
}

.footer {
    color: #972984;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    border: 10px double black;
    background-color:#80808061;
    max-height: 20%;
    min-width: fit-content; 
}

h3 {
    text-align-last: center;
}

/**CSS Styling for Contact html**/

#contenttitle {
    margin: 0 auto;
}

.portfolio-content {
    display: block;
    padding: 30px;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 75px;
}

* {
    box-sizing: border-box;
}

.portfolio-pic {
    float: left;
    width: 50%;
    padding-right: 30px;
    padding-bottom: 30px;
}









